body {
  background-color: rgba(104, 104, 104, 0.658);
  font-family: sans-serif;
}

.bmi__input {
  width: 180px;
  height: 40px;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 0 20px;
  margin: 0 5px;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi__title {
  text-align: center;
  font-size: 40px;
}

.bmi__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weight__wrappers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weight,
.height {
  margin: 20px;
}

.outcome {
  text-align: center;
}

.outcome__button {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 20px;
}

.bmi__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}